#navbar_popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba(17, 16, 19, 0.93);
    position: fixed;
    top: 0;
    left: 0;

    & > button {
        background-color: transparent;
        border-radius: 50%;
        padding: 10px;
        margin: 3vh 1.15vw;
        // margin-top: 3vh;
        // margin-left: 1.15vw;
        transition: 300ms;

        &:hover {
            background-color: var(--grey-color);
        }

        & > img {
            width: 32px;
            transform: scale(0.8);
        }

    }

    .links {
        @include flexbox(center, center);
        flex-direction: column;
        width: 60vw;
        height: 78vh;
    }


    ul {
        counter-reset: section; /* Increment the value of section counter by 1 */
    }

    li {
        font-size: 10vh;
        margin: 5vh;
        font-weight: bold;

        &:before {
            counter-increment: section; /* Increment the value of section counter by 1 */
            content: "0" counter(section);
            font-size: 14px;
            vertical-align: top;
            line-height: 20px;
            color: grey;
            // transform: translateY(10px);
        }

    }
    a {
        transition: 300ms;

        &:hover {
            opacity: 0.6;
        }
    }

    &.loggedIn {
        & > button {
            margin: 5.5vh 14.8vw 0px 14.8vw;
        }
    }
}